.wrapper {
    padding: 16px 0px;
    border-top: 0.5px solid rgba(22, 24, 35, 0.1215686275);
}
.header {
    font-size: 1.4rem;
    font-weight: 700;
    color: #161823bf;
    padding-bottom: 16px;
}
.tag {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.link {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    border: 1px solid #16182333;
    border-radius: 12px;
    margin: 0 8px 12px 0;
    max-width: 324px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}
.icon {
    line-height: 1.6rem;
}
.tag-text {
    line-height: 1.6rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.4rem;
    color: #161823bf;
    padding-left: 6px;
}
