.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: var(--default-layout-header-height);
    background-color: var(--white);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--default-layout-horizontal-spacer);

    &.stretch {
        width: 100%;
    }
}

.logo-link {
    display: flex;
}
// ACTIONS

.actions {
    display: flex;
    align-items: center;
}
.action-btn {
    margin-left: 16px;
    background-color: transparent;
    cursor: pointer;
}
.user-avt {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    padding: 0 10px;
    line-height: 22px;
    margin-left: 16px;
    background-color: transparent;
    cursor: pointer;
}
