.wrapper {
    overflow: hidden;
    padding-right: 12px;
    top: 62px;
    left: 205px;
    bottom: 0;
    width: 356px;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    padding: 20px 0 26px 8px;
    // display: none;

    &:hover {
        overflow-y: scroll;
    }
    nav {
        margin-bottom: 8px;
    }
    &.shrink {
        left: 0;
        width: 232px;
        max-width: 232px;
    }
}
.more-btn {
    color: var(--primary);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 8px;
    padding: 0px 8px 16px 8px;
    cursor: pointer;
}

.btn-login {
    border-top: 0.5px solid rgba(22, 24, 35, 0.1215686275);
    padding: 20px 8px 24px 8px;

    p {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #16182380;
    }
    button {
        margin-top: 20px;
    }
}
