.wrapper {
    width: 356px;
    margin-left: -18px;
    padding: 20px 0 26px 8px;

    nav {
        margin-bottom: 8px;
    }
}
.more-btn {
    color: var(--primary);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 8px;
    padding: 0px 8px 16px 8px;
    cursor: pointer;
}
